@import "bootstrap";
@import "font-awesome";

:root {
  --app-color: #cb5404;
}

label.control-label.file.optional, label.control-label.file.required {
  display: none;
}

body {
  background-color: #fafafa;
  font-family: 'Josefin Sans', sans-serif;
  color: #281000; 
}

a:hover {
  color: white;
}

.hideshow, .fa-trash, .fa-comment {
  color: grey;
}

.hideshow:hover, .fa-trash:hover, .fa-comment:hover {
  color: var(--app-color);
}

.grey-col {
  color: grey;
}

.links {
  padding-top: 15px;
}

.top-nav {
  background-color: white;
  border-bottom: 3px solid #edeeee;
  height: 110px;
  padding-top: 15px;
}

.top-nav .add a {
  font-weight: bold;
  color: var(--app-color);
  font-size: 17px;
}

.top-nav .add a + a {
  padding-left: 8px;
} /* the "+" selects from 2nd child on */

div .add {
  margin-top: 15px;
}

.greet {
  font-size: 17px;
}

.brand a {
  color: var(--app-color);
  font-size: 45px;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}

.brand a:hover {
  text-decoration: none;
}

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0,0,0,0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

.card p, .card .message {
  font-size: 18px;
  margin: 20px;
}

.handle, .handle a {
  margin: 10px;
  color: var(--app-color);
  font-weight: bold;
  font-size: 18px;
}

.user-handle {
  text-align: center;
  margin-top: 20px;
  color: var(--app-color);
}

.form {
  padding: 20px;
}

label {
  font-size: 18px;
}

input {
  font-size: 18px;
  font-weight: 400;
}

.my-btn {
  background-color: var(--app-color);
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

.comment-btn {
  width: 90%;
  margin-left: 5%;
}

.btn-primary {
  background-color: var(--app-color);
}

#user_remember_me {
  margin: 5px 5px 0px 18px;
}

.boolean {
  margin-top: 5px;
  line-height: 44px;
}

.gram-actions a {
  font-size: 14px;
  margin-right: 20px;
  margin-left: auto;
  color: var(--app-color);
  float: right;
}

.gram-actions a:hover {
  color: var(--app-color);
}

.comments {
  padding: 20px;
}

.help-block {
  color: red;
}

.comment {
  font-size: 16px;
  margin-top: 5px;
}

.comment_handle {
  color: var(--app-color);
  font-weight: bold;
  font-size: 18px;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(203, 84, 4, 0.75), rgba(0, 0, 0, 0));
  margin: 30px 0;
}

p.alert {
  position: absolute;
  width: 97%;
  padding: 3px;
  z-index: 2;
}

.response-handle {
  font-weight: bold;
  font-size: 14px;
}

.initial-hide {
  display: none;
}

.col-3 {
  padding-right: 0px;
}

.col-9 {
  padding-left: 0px;
}

@media (max-width: 575px) {
  .brand a {
    font-size: 70px;
  }

  .top-nav {
    height: 140px;
  }

  .top-nav .add a {
    font-size: 28px;
  }
}
